@page
@model NewsWebsite.Pages.DonatePageModel
@{
    ViewData["Title"] = "Donate";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <form method="post">
        <div class="donate-parent">
            <div class="donate-ads-left"> 

            </div>
            <div class="donate-ads-right"> 

            </div>
            <div class="donate-title" style="text-align: center;"> 
                <h1 class="h1">Thank you for supporting us! <i class="fa fa-heart" aria-hidden="true"></i></h1>
            </div>
            <div class="donate-subtitle"> 
                <label class="form-label" style="font-size:16px; text-align: justify;">&emsp;Asta e manea frate nu basinile din zilele de azi. Noi de astea ne-am indragostit. Artisti adevarati! Nu morti care n-au voce decat  de la autotune..  Si sa-mi comenteze careva... ba Adrian Minune e singuru artist din toata Romanica noastra care a cantat langa Celine Dion si Pavarotti , legendele artei muzicale care nu canta langa oricine !</label>
            </div>
            <div class="donate-picture"> 
                <img src="~/images/2ziare.PNG"/>
            </div>
            <div class="donate-additional-info" style="font-size: 16px;"> 
                <ul>
                    <li>Am sa bag doua ziare</li>
                    <li>Mototol in buzunare</li>
                    <li>Sa vad cine-i langa mine</li>
                    <li>Cand am buzunare pline</li>
                    <li>Da' sa vezi surpriza mare</li>
                    <li>Cand le-oi spune ca-i ziare</li>
                    <li>Sa ma uit pe fata lor</li>
                    <li>Sa vad care-i vanzator</li>
                </ul>
            </div>
        </div>
    </form>
</body>